@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap";

body {
  overflow-x: hidden;
}
.imgProductos {
  align-content: center;
  width: 30%;
  height: auto;
  object-fit: contain;
  margin-top: 0.5rem;
}
.card {
  display: flex;
  align-items: center;
  margin: 0.3rem;
  text-align: center;
}

.card-text {
  color: rgb(104, 101, 101);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.card-title {
  color: rgb(48, 47, 47);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}


h2 {
  margin: 1rem 0.5rem 0.5rem 1rem;
}

h3 {
  font-size: large;
  font-weight: 300;
  margin: 1rem 0.5rem 0.5rem 1rem;
}
.btn {
  margin: 0.5rem 0rem 0rem 0.5rem;
}

#login {
  margin: 0;
  color: rgb(8, 7, 7);
  background-color: rgb(158, 252, 7);
  font-weight: 400;
  position: absolute;
  top: 70px; 
  right: 110px; 
  
  /* Dispositivos móviles */
  @media (max-width: 768px) {
    margin: 0 auto; 
    width: 90%;
    display: block; 
    margin-bottom: 10px;
    position: static; 
  }
}



#login:hover {
  background-color: rgb(211, 208, 208);
}

#nuevoUsuario {
  margin: 1rem 2rem 2.5rem 0rem;
  color:rgb(8, 7, 7);
  background-color: rgb(255, 251, 5);

  font-weight:400;
}
#nuevoUsuario:hover {
  background-color: rgb(211, 208, 208);
}
#resumenCarrito {
  display: none;
}
/*****************************************/

/* header */

/*****************/
header {
  overflow-x: hidden;
}

.logokanusPrincipal {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: auto;
  text-align: center;
  align-items: center;
  margin: 2rem 2rem 2.5rem 15rem;
  
  /* Dispositivos móviles */
  @media (max-width: 768px) {
    width: 90%;
    margin: 2rem auto 2.5rem auto;
  }
}


/* FOOTER*/
/*********/
.fotterPrincipal {
  border-top: 1px solid #999999;
  font-family: "Roboto", sans-serif;
  color: rgb(39, 38, 38);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2% 1% 2% 1%;
  margin: 3% 0% 0% 0%;
  font-weight: bold;
}

.lifooter {
  list-style-type: none;
  margin-right: 15%;
  margin-bottom: 1%;
}

.lifooterHorario {
  list-style-type: none;
  margin-right: 30px;
  font-weight: bold;
}




/*SOLO SMARTPHONE - TABLET*/
/*****************/
@media (max-width: 767px) {
 
  .googlemapsImg {
    scale: 90%;
  }
}
/********************************/

.googlemapsResponsive {
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
  height: 0;
}
.googlemapsResponsive iframe {
  left: 0.5%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  height: 100%;
  width: 100%;
  position: absolute;
}
/***login***/
label {
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: rgb(39, 38, 38);
  margin: 0.5rem 0.5rem 0.5rem 1.2rem;
  font-weight: 600;
}
#categoriaRaza{
  font-family: "Roboto", sans-serif;
  color: rgb(39, 38, 38);
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-weight: 600;
 }

 .tamañoMascota {
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: rgb(39, 38, 38);
  font-weight: 600;
 }

 /********fetch********/
 .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-top: 1rem;
}

.tituloComentarios {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #2d6b2b;
}
.card2 {
  background-color: #f1f1f1;
  padding: 10px;
}

.title2 {
  font-size: 1.5rem;
  text-align: center;
}

.card-body2 {
  font-size: 1rem;
  text-align: center;
}
